*  {
    margin: 0;
    padding: 0;
}
header {
    height: 80px;
    background: #111111;
    display: block;
    vertical-align: center;
    padding: 20px;
}
header {
    color:white;
    text-align: center;
    font-family: monospace;
    font-size: large;
}
header h4 {
    padding: 10px;
}

.azul {
    margin-bottom: 100px;

}

.azul img {
    display: block;
    width: 20%;
    border: 5px solid #2402af;
    border-radius: 20%;
}

caption{
    font-family: monospace;
    margin-bottom: 50px;
    width: 300%;
    height: 60px;
    padding: 20px;
    font-size: xx-large;
    color: white;

}
.azul caption {
    background-color: #2402af;


}

.rojo {
    margin-bottom: 100px;

}

.rojo caption {
    background-color: #AF002A;

}

.rojo img {
    display: block;
    width: 20%;
    border: 5px solid #AF002A;
    border-radius: 20%;
    background-color: black;
}