body {
    margin: 20px;
    display: flex;
    justify-content: center;
    font-family: monospace;

}
table {
    border: 3px groove dimgray;
    height: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px lightgray;
    font-size: large;


}
tr, th {
    border: 3px solid dimgray;
    height: 60px;
    width: 200px;
    border-radius: 8px;


}
.dias {
    font-size: x-large;
    background-color: #87a8f5;

}

.horas {
    background-color: #fffa6b;

}

.sistemas {
    background-color: #f5b8f5;

}

.ingles {
    background-color: #9df5ef;

}

.bases {
    background-color: #f57175;

}

.marcas {
    background-color: #d0eaef;

}

.entornos {
    background-color: #977bf5;

}

.programacion {
    background-color: #84f590;
}

.ip {
    background-color: #ffab6b;
}

.patio {
    background-color: #fffa6b;
    font-size: x-large;
}

